wheel==0.31.1
six==1.10.0
absl-py
werkzeug==0.11.10
bleach==2.0.0
markdown==2.6.8
protobuf==3.6.0
numpy==1.14.5
scipy==1.1.0
scikit-learn==0.18.1
pandas==0.19.2
psutil
py-cpuinfo
pylint==1.6.4
pep8
portpicker
grpcio
astor
gast
termcolor
setuptools==39.1.0
h5py==2.8.0
